@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.pagination-container {
  display: flex;
  justify-content: right; /* center pagination under cards */
  gap: 20px;
  margin-top: 63px; /* space above pagination */
  z-index: 1; /* default stacking */
}

.custom-pagination {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: flex;
  gap: 10px;
  z-index: 20;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1F6978;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pagination-btn img {
  width: 10px;
  height: 16.67px;
  top: 1.67px;
  border: 2px;
  left: 5px;
  color: black;

}

.pagination-btn.active {
  background-color: #1F6978;
  color: white;
}


.pagination-button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1F6978;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #1F6978;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #1F6978;
  color: white;
}

.pagination-button.active {
  background-color: #1F6978;
  color: white;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
